body {
    /* background-color: rgba(255, 205, 185, 0.438); */
    background-color: rgb(90, 177, 199);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color: rgb(0, 81, 128);
}
.linkList {
    display: flex;
    justify-content: center;
    align-items: center;
}
.layoutHeader {
    text-shadow: 2px 1px 1px rgb(100, 100, 100);
    justify-content: center;
}
.footer {
    color: purple;
    background-color: palevioletred;
}
.projectCard {
    border: 1px solid black;
    margin: 10px;
    background-color: rgba(58, 58, 80, 0.205);
    text-align: center;
}
p {
    font-size: 20px;
}
.containsDropDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.dropDownMenu {
    align-items: center;
    width: 20%;
    background-color: rgba(4, 106, 165, 0.849);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}